<div class="question"><%= @question %>
  <p><em>-You</em></p>
</div>
<div class="answer alert-warning text-dark"><b><%= @answer %></b>
  <p><em>-Your Coach</em></p>
</div>
<div class="return_link"><%= link_to 'Ask a new question!', ask_path %></div>
