.question, .answer {
  border-left: 0.5rem solid lightgray;
  height: 5rem;
  margin-top: 1rem;
  padding: 1rem;
}

.return_link{
  margin-top: 1.5rem;
}
a {
  text-decoration: none;
  color: rgb(10, 142, 186);
}
